---
import LayoutEn from "../../layouts/Layout_En.astro";
import "../../styles/style.css"
import "../../styles/partner.css"
import Ansys from "../../assets/sponsors/ansys.png"
import EasyComposition from "../../assets/sponsors/easy-composites-logo-simple-curves.jpg"
import favicon from "../../assets/favicon.png" 
import Nuke from "../../assets/sponsors/nuke_performance.png"
import Rapid from "../../assets/sponsors/rapidharness.png"
import Grade from "../../assets/sponsors/Vi-Grade.png"
import Hostinger from "../../assets/sponsors/hostinger.png"
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="format-detection" content="email=no">
        <link rel="icon" type="image/png" href={favicon.src}> 
        <title>Perkūnas RT | Partners</title>
    </head>
    <body>
        <LayoutEn>
            <div class="y-block first">
                <div class="container card">
                    <div>
                        <a href="/en/contact-us" class="contact">
                            <h1>Contribute to our success!</h1>
                        </a>
                        <p class="first-p">
                            Sponsorship provides a top-level opportunity to become part of the dynamic "Formula Student" project. Your brand will gain high visibility on our 
                            race car, team apparel, as well as through advertisements, events, and performances at competitions.
                          </p>
                          <p>
                            Sponsors have a unique opportunity to influence our technical, strategic, and operational development by establishing direct connections with 
                            future engineers and innovators. This partnership offers a direct link to education and helps shape future talent.
                          </p>
                          <p>
                            We aim to build long-term relationships that span multiple seasons, ensuring continuous mutual benefit. Your support also gives you priority 
                            access to talented engineering students who will be suitable for future job and internship opportunities.
                          </p>
                          <p>
                            By joining from the beginning, you will become part of our entire journey - from the idea to the competition. You'll help create not just a race car, 
                            but also a culture of innovation and excellence.
                          </p>
                          <p>
                            To learn more, download the <a href="https://drive.google.com/drive/u/0/folders/1NvpyICqW732AsfOA1Ias6yKZ66zEEPlm?dmr=1&ec=wgc-drive-hero-goto&sort=13&direction=a" target="_blank" class="brochure">brochure</a>.
                          </p>
                </div>
            </div>
            <div class="y-w">

            </div>
            <div class="w-block">
                <div class="container card">
                    <h1 class="partners-header">Our sponsors</h1>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.ansys.com/" target="_blank"><img src={Ansys.src} alt="Ansys"/></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Ansys</h2>
                            <p class="first-p">
                                It is a global leader in engineering simulation software, offering advanced solutions for product development, testing, and optimization. 
                                The company's software allows for modeling fluid dynamics, structures, electromagnetics, heat, and multiphysics processes. Ansys solutions 
                                are used by various industries - from automotive and aerospace to energy and healthcare.
                              </p>
                              
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.hostinger.com/" target="_blank"><img src={Hostinger.src} alt="Hostinger" height="120px" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Hostinger</h2>
                            <p class="first-p">It is a website hosting platform designed to simplify and speed up the process of creating and managing your website. 
                                This platform offers reliable, fast, and secure hosting, an easy-to-use control panel, and a wide selection of tools and templates for 
                                both beginners and professionals. Millions of users worldwide rely on Hostinger's solutions - from small businesses and developers to 
                                large enterprises seeking to efficiently manage their online projects and ensure flawless website performance.
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://rapidharness.com" target="_blank"><img src={Rapid.src} alt="RapidHarness" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>RapidHarness</h2>
                            <p class="first-p">It is an advanced wiring design software developed to automate and streamline the entire electrical system design process - from 
                                the first schematic to production-ready documentation. This CAD platform enables real-time creation of professional schematics, automated 
                                documentation generation, and efficient collaboration within teams or with external partners. RapidHarness solutions are used by engineers 
                                across various industries - from automotive and aerospace to electronics and manufacturing.
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.easycomposites.co.uk" target="_blank"><img src={EasyComposition.src} alt="Ansys" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Easy Composites</h2>
                            <p class="first-p">
                                It is a global leader in the production and supply of advanced composite materials and equipment, offering modern solutions in manufacturing, 
                                education, and engineering. Easy Composites specializes in the supply of carbon fiber, resins, vacuum forming systems, and other composite 
                                technologies. The company's goal is to make complex composite material technologies accessible to both industry professionals and enthusiasts. 
                                Its solutions are used by clients worldwide - from automotive and aerospace to sports equipment manufacturing, design, and education sectors.
                            </p>
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.nukeperformance.com" target="_blank"><img src={Nuke.src} alt="NukePerformance" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Nuke Performance</h2>
                            <p class="first-p">It is a global leader in the production of high-quality motorsport components, offering advanced solutions for fuel delivery, engine systems, 
                                and other tuning applications. Founded in Sweden in 2004, the company specializes in developing parts for professional racers and car enthusiasts. Nuke 
                                Performance products stand out for their innovative design, precision manufacturing, and reliability, with customers in over 40 countries around the world 
                                valuing their quality.
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.vi-grade.com" target="_blank"><img src={Grade.src} alt="Vi-Grade" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>VI-grade</h2>
                            <p class="first-p">It is a global provider of innovative vehicle development solutions, offering real-time simulation software, driving simulators, 
                                and various systems. The company's technologies enable the development of vehicles without physical prototypes, accelerating innovation and reducing 
                                development time. VI-grade solutions are used by automotive manufacturers, suppliers, research centers, and universities worldwide.
                        </div>
                    </div>
                </div>
            </div>
        </LayoutEn>
    </body>
</html>
