---
import LayoutEn from "../../layouts/Layout_En.astro";
import "../../styles/style.css"
import "../../styles/team.css"
import NoPicture from "../../assets/NoPicture.png"
import favicon from "../../assets/favicon.png" 
import Benas from "../../assets/Leads/Benas.png"
import Mantas from "../../assets/Leads/Mantas.png"
import Domas from "../../assets/Leads/Domas.png"
import Benas_M from "../../assets/Leads/Benas_M.png"
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="format-detection" content="email=no">
        <link rel="icon" type="image/png" href={favicon.src}> 
        <title>Perkūnas RT | Team</title>
    </head>
    <body>
        <LayoutEn>
            <div class="y-block first">
                <div class="container card">
                    <div class="main-info">
                        <h1>Team structure</h1>
                        <p class="first-p">
                            The organization consists of several specialized divisions, each responsible for a specific aspect of the car's development. 
                            The team operates as a solid unit, where technical and business departments work closely together - from the initial idea 
                            to the final product, ready to hit the track.
                          </p>
                    </div>
                    <div class="main-lead">
                        <div>
                            <img src={Benas.src} alt="Benas Lukoševičius" width="300px" class="image">
                            <p class="name first-p">Benas Lukoševičius</p>
                            <p class="role">Chief Engineer</p>
                            <div class="contacts">
                                <p class="email-team">benas.lukosevicius@ktu.edu</p>
                            </div>
                        </div>
                        <div>
                            <img src={NoPicture.src} alt="Deivid Mico" width="300px" class="image">
                            <p class="name first-p">Deivid Mico</p>
                            <p class="role">Deputy Chief Engineer</p>
                            <div class="contacts">
                                <p class="email-team">deivid.mico@ktu.edu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="y-b"></div>
            <div class="b-block">
                <div class="container card">
                    <div class="info">
                        <h1>Aerodynamics department</h1>
                        <p class="first-p">
                            Responsible for managing airflow around the car, aiming to increase downforce and reduce drag. The team designs the front 
                            and rear wings, diffuser, underbody panels, and other elements that help ensure stability at high speeds. Through calculations 
                            and testing, team members optimize aerodynamic parameters to achieve maximum efficiency on the track.
                          </p>
                          
                    </div>
                    <div class="lead">
                        <img src={NoPicture.src} alt="Murad Abdullayev" width="300px" class="image">
                        <p class="name first-p">Murad Abdullayev</p>
                        <p class="role">Lead Engineer</p>
                        <div class="contacts">
                            <p class="email-team">murad.abdullayev@ktu.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-w"></div>
            <div class="w-block">
                <div class="container card">
                    <div class="info">
                        <h1>Chassis department</h1>
                        <p class="first-p">
                            Responsible for the car's structure, including the design of the frame and bodywork. The team develops a lightweight and strong chassis 
                            capable of withstanding racing loads, while ensuring that the body structure is not only safe for the driver but also structurally tight. 
                            This team works closely with other departments to ensure all components fit, are securely mounted, and function efficiently.
                          </p>
                          
                    </div>
                    <div class="lead">
                        <img src={Benas_M.src} alt="Benas Mangevičius" width="300px" class="image">
                        <p class="name first-p">Benas Mangevičius</p>
                        <p class="role">Lead Engineer</p>
                        <div class="contacts">
                            <p class="email-team">benas.mangevicius@ktu.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-y"></div>
            <div class="y-block">
                <div class="container card">
                    <div class="info">
                        <h1>Powertrain department</h1>
                        <p class="first-p">
                            Designs and integrates the powertrain system, which determines the car's speed, acceleration, and reliability. This department decides 
                            on the type of engine to be used, designs gearbox solutions, integrates cooling systems, and monitors the thermal and mechanical 
                            efficiency of the components.
                          </p>
                          
                    </div>
                    <div class="lead">
                        <img src={NoPicture.src} alt="Ervinas Rimkevičius" width="300px" class="image">
                        <p class="name first-p">Ervinas Rimkevičius</p>
                        <p class="role">Lead Engineer</p>
                        <div class="contacts">
                            <p class="email-team">ervinas.rimkevicius@ktu.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="y-b"></div>
            <div class="b-block">
                <div class="container card">
                    <div class="info">
                        <h1>Suspension department</h1>
                        <p class="first-p">
                            Develops solutions to ensure excellent vehicle handling, stability, and comfort on the track. The team designs wheel geometry, 
                            shock absorber and spring parameters, control arms, steering mechanisms, and other components. All parts must be precisely tuned 
                            so that the car can navigate corners optimally, remain agile, and adapt well to the track surface.
                          </p>
                          
                    </div>
                    <div class="lead">
                        <img src={NoPicture.src} alt="Ugnius Trainys" width="300px" class="image">
                        <p class="name first-p">Ugnius Trainys</p>
                        <p class="role">Lead Engineer</p>
                        <div class="contacts">
                            <p class="email-team">ugnius.trainys@ktu.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-w"></div>
            <div class="w-block">
                <div class="container card">
                    <div class="info">
                        <h1>Electronics and software department</h1>
                        <p class="first-p">
                            Develops the entire electrical infrastructure: wiring, sensors, control modules, and user interfaces. The team is also responsible for 
                            data acquisition systems. Using microcontrollers and software, all electronic components are integrated into a unified system that allows 
                            performance analysis, fault detection, and system improvement.
                          </p>
                          
                    </div>
                    <div class="lead">
                        <img src={Mantas.src} alt="Mantas Babonas" width="300px" class="image">
                        <p class="name first-p">Mantas Babonas</p>
                        <p class="role">Lead Engineer</p>
                        <div class="contacts">
                            <p class="email-team">mantas.babonas@ktu.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-y"></div>
            <div class="y-block">
                <div class="container card">
                    <div class="info">
                        <h1>Business department</h1>
                        <p class="first-p">
                            Manages sponsor search, collaboration with industry partners, social media content, public relations, project funding, and event 
                            organization. The team shapes the brand, creatively communicates the team's achievements, and creates engaging visual and informational solutions.
                          </p>
                          
                    </div>
                    <div class="lead">
                        <img src={Domas.src} alt="Domas Grigaliūnas" width="300px" class="image">
                        <p class="name first-p">Domas Grigaliūnas</p>
                        <p class="role">Member</p>
                        <div class="contacts">
                            <p class="email-team">perkunasrt@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </LayoutEn>
    </body>
</html>