---
import LayoutLt from "../layouts/Layout_Lt.astro";
import "../styles/style.css"
import "../styles/partner.css"
import Ansys from "../assets/sponsors/ansys.png"
import Brochure from "../assets/Sponsorship brochure LT.pdf"
import EasyComposition from "../assets/sponsors/easy-composites-logo-simple-curves.jpg"
import favicon from "../assets/favicon.png"
import Nuke from "../assets/sponsors/nuke_performance.png"
import Rapid from "../assets/sponsors/rapidharness.png"
import Grade from "../assets/sponsors/Vi-Grade.png"
---
<html lang="lt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="format-detection" content="email=no">
        <link rel="icon" type="image/png" href={favicon.src}> 
        <title>Perkūnas RT | Partneriai</title>
    </head>
    <body>
        <LayoutLt>
            <div class="y-block first">
                <div class="container card">
                    <div>
                        <a href="/susisiekite" class="contact">
                            <h1>Prisidėkite prie mūsų sėkmės!</h1>
                        </a>
                        <p class="first-p">Rėmimas suteikia aukščiausio lygio galimybę tapti dinamiško „Formula Student" projekto dalimi.
                            Jūsų prekės ženklas gaus aukštą matomumą ant mūsų lenktyninio automobilio, komandos aprangos, 
                            taip pat per reklamas, rengninius ir pasirodymus varžybose.
                        </p>
                        <p>
                            Remėjai turi unikalią galimybę paveikti mūsų techninę, strateginę ir operatyvinę raidą, užmezgant tiesioginį ryšį
                            su būsimais inžinieriais ir inovatoriais. Ši partnerystė suteika tiesioginį ryšį su švietimu, leidžia formuoti būsimą
                            talentą.
                        </p>
                        <p>
                            Mes siekiame kurti ilgalaikius santykius, kurie apimtų kelis sezonus, užtikrinant nuolatinę abipusę naudą. Jūsų parama
                            taip pat suteikia pirmenybę pasiekti talentingus inžinerijos studentus, kurie bus tinkami būsimiems darbo ir praktikos 
                            pasiūlymams.
                        </p>
                        <p>
                            Prisijungę nuo pradžių, tapsite visos mūsų kelionės dalimi - nuo idėjos iki varžybų. Padėsite sukurti ne tik lenktyninį 
                            automobilį, bet ir inovacijų bei meistriškumo kultūrą.
                        </p>
                        <p>
                            Norėdami sužinoti daugiau, atsisiųskite <a href={Brochure} download="Sponsorship brochure.pdf" class="brochure">lankstinuką</a>.
                        </p>
                </div>
            </div>
            <div class="y-w">

            </div>
            <div class="w-block">
                <div class="container card">
                    <h1 class="partners-header">Mūsų partneriai</h1>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.ansys.com/" target="_blank"><img src={Ansys.src} alt="Ansys"/></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Ansys</h2>
                            <p class="first-p">Tai pasaulinė inžinerinės simuliacijos programinės įrangos lyderė, siūlanti pažangius sprendimus produktų
                                kūrimui, testavimui ir optimizavimui. Įmonės programinė įranga leidžia modeliuoti skysčių dinamiką, struktūras, 
                                elektromagnetiką, šilumą bei daugiafizikinius procesus. Ansys sprendimais naudojasi įvairūs sektoriai - nuo automobilių ir aviacijos
                                iki energetikos ir sveikatos apsaugos.
                            </p>
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.easycomposites.co.uk" target="_blank"><img src={EasyComposition.src} alt="EasyComposites" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Easy Composites</h2>
                            <p class="first-p">Tai pasaulinė pažangių kompozitinių medžiagų ir įrangos gamybos bei tiekimo lyderė, siūlanti modernius sprendimus gamybos, 
                                mokymo ir inžinerijos srityse. Easy Composites specializuojasi anglies pluošto, dervų, vakuuminio formavimo sistemų ir kitų kompozitinių 
                                technologijų tiekime. Įmonės tikslas - padaryti sudėtingas kompozitinių medžiagų technologijas prieinamas tiek pramonės profesionalams, 
                                tiek entuziastams. Jos sprendimais naudojasi klientai visame pasaulyje - nuo automobilių ir aviacijos iki sporto įrangos gamybos, dizaino 
                                ir švietimo sektorių.
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.nukeperformance.com" target="_blank"><img src={Nuke.src} alt="NukePerformance" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>Nuke Performance</h2>
                            <p class="first-p">Tai pasaulinė aukštos kokybės autosporto komponentų gamybos lyderė, siūlanti pažangius sprendimus degalų 
                                tiekimo, variklio sistemų ir kitose tiuningo srityse. Įmonė, įkurta Švedijoje 2004 m., specializuojasi profesionaliems lenktynininkams ir 
                                automobilių entuziastams skirtų dalių kūrime. Nuke Performance produktai išsiskiria inovatyviu dizainu, preciziška gamyba bei patikimumu, o 
                                jų kokybę vertina klientai iš daugiau nei 40 pasaulio šalių.
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://rapidharness.com" target="_blank"><img src={Rapid.src} alt="RapidHarness" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>RapidHarness</h2>
                            <p class="first-p">Tai pažangi laidų projektavimo programinė įranga, sukurta automatizuoti ir supaprastinti visą elektros 
                                sistemų projektavimo procesą - nuo pirmo brėžinio iki gamybai paruoštų dokumentų. Ši CAD platforma leidžia kurti profesionalius schemų brėžinius 
                                realiu laiku, automatizuotai generuoti dokumentaciją bei efektyviai bendradarbiauti komandoje ar su išoriniais partneriais. RapidHarness sprendimais 
                                naudojasi inžinieriai įvairiose pramonės šakose - nuo automobilių ir aviacijos iki elektronikos ir gamybos sektoriaus.
                        </div>
                    </div>
                    <div class="partner">
                        <div class="sponsor-logo">
                            <a href="https://www.vi-grade.com" target="_blank"><img src={Grade.src} alt="Vi-Grade" /></a>
                        </div>
                        <div class="sponsor-info">
                            <h2>VI-grade</h2>
                            <p class="first-p">Tai pasaulinė inovatyvių transporto priemonių vystymo sprendimų tiekėja, siūlanti realaus laiko simuliacijų programinę įrangą, 
                                vairavimo simuliatorius ir įvairias sistemas. Įmonės technologijos leidžia kurti automobilius be fizinių prototipų, spartinti inovacijas 
                                ir mažinti kūrimo laiką. VI-grade sprendimais naudojasi automobilių gamintojai, tiekėjai, tyrimų centrai ir universitetai visame pasaulyje.
                        </div>
                    </div>
                </div>
            </div>
        </LayoutLt>
    </body>
</html>
