---
import Logo from "../assets/logo.png";
import "../styles/style.css";
import "../styles/footer.css"
import instagram from "../assets/social_icons_white/instagram.png"
import linkedin from "../assets/social_icons_white/linkedin.png"
import tiktok from "../assets/social_icons_white/tiktok.png"
import facebook from "../assets/social_icons_white/facebook.png"
---

<div class="b-block">
    <div class="container containerFoot">
      <div class="logo"><img src={Logo.src} alt="Perkūnas" width="600px"></div>
      <div class="linksFoot">
        <div class="email">
            perkunasrt@gmail.com
        </div>
        <div class="socials">
            <img src={instagram.src} alt="instagram" width="70px">
            <img src={linkedin.src} alt="Linkedin" width="70px">
            <img src={tiktok.src} alt="tiktok" width="70px">
            <img src={facebook.src} alt="facebook" width="70px">
        </div>
      </div>
    </div>
</div>
