---
import Logo from "../assets/logo.png";
import "../styles/style.css";
import "../styles/footer.css"
import instagram from "../assets/social_icons_white/instagram.png"
import linkedin from "../assets/social_icons_white/linkedin.png"
import tiktok from "../assets/social_icons_white/tiktok.png"
import facebook from "../assets/social_icons_white/facebook.png"
---

<div class="b-block">
  <div class="container containerFoot">
    <div class="logo">
      <img src={Logo.src} alt="Perkūnas" class="logo-img-footer">
    </div>
    <div class="linksFoot">
      <div class="socials">
        <a href="https://www.instagram.com/perkunasrt_ktu/" target="_blank">
          <img src={instagram.src} alt="instagram" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/company/perkunasrt/" target="_blank">
          <img src={linkedin.src} alt="Linkedin" class="social-icon">
        </a>
        <a href="https://www.tiktok.com/@perknasrt_ktu?is_from_webapp=1&sender_device=pc" target="_blank">
          <img src={tiktok.src} alt="tiktok" class="social-icon">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61575797945434" target="_blank">
          <img src={facebook.src} alt="facebook" class="social-icon">
        </a>
      </div>
      <div class="email">
        perkunasrt@gmail.com
      </div>
    </div>
  </div>
</div>
